 .amarela-BoasVindas{

        /* border: 4px solid rgb(208, 255, 0);  */
        height: 215vh;
        background-color: #EAEAEA;
}

.vermelha-BoasVindas{
    width: 100%;
    /* border: 4px solid red; */
    height: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    background-color: #3B444F;
    padding-right: 12px; 
   
} 

.botaoEntrar-boasvindas{
  
    border-radius: 5px;
    background-color: #E4E7EB;
    height: 60%;
    width: 10%;
    color: #2D405A;
} 

.botaoLogin-boasvindas{
    border-radius: 5px;
    background-color: #E4E7EB;
    height: 60%;
    width: 10%;
} 

 .Roxa-BoasVindas{
    /* border: 4px solid rgb(236, 12, 236);  */
    height: 38%;
    display: flex;
    
    background-color: #EAEAEA;
} 

 .verdemusgo-BoasVindas{
     /* border: 4px solid #617e28;  */
    height: 100%;
    width: 50%;
   background-color: #EAEAEA;
} 

.verdeEscuro-BoasVindas{
     /* border: 4px solid #156c1a;  */
    height: 100%;
    width: 50%;
   background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

} 

 .circulo-BoasVINDAS{
     /* border: 4px solid #02ff0e;  */
    height: 35%;
    width: 28%;
    border-radius: 170px;
    top: 299px;
    left: 220px;
    position: absolute;
    background-color: #607E98;
} 

 .Quadrado-BoasVINDAS{
     /* border: 4px solid #02ff0e;  */
    height: 60%;
    width: 30%;
    border-radius: 90px 0 90px 0;
    position: absolute;
    top: 60px;
    left: 320px;
    background-color: #2D405A;
} 

 .Branca-Boasvindas{
    /* border: 4px solid #b22f2f;  */
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
   padding-left: 13%;
} 


.Logo-Boasvindas{
  /* border: 4px solid rgb(35, 156, 167);  */
  font-size: 160px;
  color: #2D405A;
  font-family: bodo;
  
}

.div-button-cadastro-Boasvindas{
     /* border: 4px solid rgb(35, 156, 167);  */
    height: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    padding-left: 11%;
    
}

.button-cadastro-BoasVindas{
    width: 40%;
    height: 40%;
    font-size: 20px;
    border-radius: 50px;
    background-color: #2D405A;
    color: aliceblue;
}

.verdeClaro-BoasVindas{
    /* border: 4px solid rgb(14, 84, 12); */
    height: 2%;
    background-color: #545D69;
}

.laranja-BoasVindas{
    /* border: 4px solid rgb(191, 64, 18); */
    height: 2%;
    width: 100%;
    background-color: #3B444F;
} 

.Rosa-BoasVindas{
    /* border: 4px solid rgb(235, 15, 191); */
    width: 100%;
    height: 30%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.roxo-BoasVindas{
    /* border: 4px solid rgb(103, 13, 133); */
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.marrom-BoasVinda{
    /* border: 4px solid rgb(98, 53, 8); */
    width: 100%;
    height: 10%;
    background-color: #3B444F;

}

.carrossel-infor-BoasVindas{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    font-family: sans-serif;
    width: 900%;
  }

  .Bem-vindo{
    /* border: 4px solid red; */
    height: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #607E98;
    font-size: 40px;
     font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style:normal;
  }

  .icones-presentação-boasvindas{
    /* border: 4px solid red; */
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  .icone-estudante{
    width: 15%;
  }

  .icone-hospital{
    width: 15%;
  }

  .icone-trasporte{
    width: 15%;
  }

  .icone-entreterimento{
    width: 15%;
  }

  .icone-viajante{
    width: 15%; 
  }

  .texto1-boasvindas{
    /* border: 4px solid rgb(0, 255, 13); */
    height: 15%;
    color:#3B444F ;
    font: size 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
  }

  .texto2-Boasvindas{
    /* border: 4px solid rgb(119, 0, 255); */
    height: 30%;
    color: #607E98;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
  }

.texto-infor-BoasVindas{
    border: 4px solid rgb(8, 132, 148);
    width: 20%;
    height: 80%;
}

.icones{
    /* border: 4px solid rgb(105, 74, 28); */
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
    
.links{
    /* border: 4px solid rgb(214, 134, 14); */
    height: 50%;
    padding-left: 2%;
    display: flex;
    justify-content: center;
    gap: 2%;
    font-size: 15px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal
}

.instagram{
    width: 3%;
    padding-top: 1%;
}
   
.linkedin{
    width: 3%;
    padding-top: 1%;
}
   
.whatsapp{
    width: 3%;
    padding-top: 1%;
}
   
 .YouTube{
    width: 3%;
    padding-top: 1%;
}

.nume-contato-boasvindas{
    font-size:130% ;
    color: #E4E7EB;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
}
    
.gmail-boasvindas{
    font-size:130% ;
    color: #E4E7EB;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;

}

.inter-tight-uniquifier {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style:normal;
}
    
