.Amarelo-educação{
     /* border: 4px solid yellow;  */
    height: 330vh;
    background-color: #EAEAEA;
}

.Vermelho-educação{
    border: 4px solid rgb(122, 7, 7);
    /* background-color: #3B444F; */
    height: 2%;
    
}

.modal-educação{
    /* border: 2px solid red; */
    height: 100%;
    width: 5%;
}

/* .info-arruma{
    background-color: var(--cor-2-escuro);
} */

.Rosa-educação{
    /* border: 4px solid pink; */
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Azul-educação{
    /* border: 4px solid blue; */
    background-color: #607E98;
    height: 70%;
    width: 70%;
    display: flex;
}

.AzulEscuro-educação{
    /* border: 4px solid darkblue; */
    background-color: #2D405A;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cinza-educação{
    /* border: 4px solid gray; */
    background-color: rgb(205, 200, 200);
    height: 70%;
    width: 70%;
}

/* .carrossel-track{
   display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
} */

.Vermelha2-educação{
    /* border: 4px solid red; */
    height: 30%;
    width: 100%;
    display: flex;
}

.Marrom-educação{
    /* border: 4px solid brown; */
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.Cinza2-educação{
    /* border: 4px solid gray; */
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RoxoClaro-educação{
    /* border: 4px solid purple; */
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RosoEscuro-educação{
    /* border: 4px solid darkorchid; */
    background-color: #3B444F;
    height: 5%;
}

.Branco-educação{
    border: 4px solid rgb(255, 0, 0);
    height: 100%;
    width: 100%;
    position: relative;
    left: 95%;
}

.sla-educação{
    /* border: 4px solid black; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-oi{
    color: white;
    font-size: 20px;
}

.sla2-educação{
    /* border: 2px solid red; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arvore-educação{
    /* border: 2px solid red; */
    height: 100%;
    width: 90%;
}

.Titulo1-educação{
    /* border: 2px solid yellow; */
    height: 50%;
    font-size: 58px;
    color: white;
    position: relative;
    left: 5%;
}

.FotoMédio-educação{
width:80%;
height: 80%;
}

.abacaxi-educação{
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    background-color: #607E98;
}

.info1-educação{
    border: 2px solid red;
    height: 100%;
    width: 50%;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.info2-educação{
    border: 2px solid red;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tubarão-educação{
    border: 4px solid black;
    height: 80%;
    width: 80%;
}

/* .carrossel-educação{
    border: 3px solid red;
    height: 100%;
    width: 100%;
}

.funsl{
    height: 100%;
    width: 100%;
} */

.Titulo2-educação{
    color: white;
    font-size: 50px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
}

.abacaxi2-educação{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.abacaxi3-educação{
    height: 40%;
    display: flex;
}

.abacaxi4-educação{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bobesponja-educação{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bobesponja2-educação{
    border: 3px solid red;
    width: 100%;
    height: 100%;
}

.Titulooi-educação{
    border: 3px solid pink;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipos-educação{
    border: 2px solid yellow;
    height: 80%;
    width: 100%;
    display: flex;
}

.patrik-educação{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Lista-educação{
    color: white;
    font-size: 25px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;

}

.bu2-educação{
    color: white;
}

.bu-educação{
color: white;
}

.arrumar-butao{
    /* border: 4px solid aqua; */
    height: 100%;
    width: 50%;
}


.info-button{
    background-color: #607E98;
    width: 60%;
}

.alguma-coisa-educaçõa{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.telao-informações-educação{
    /* border: 2px solid pink; */
    height: 76%;
    width: 89%;
}

.Paragrafo1-educação{
    color: white;
    height: 70%;
    /* border: 2px solid red; */
    font-size: 25px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
}

.divParagrafo-educação{
    /* border: 2px solid orangered; */
    height: 90%;
    width: 90%

}

.botao-imagem{
    /* border: 2px solid red; */
    width: 60%;
    height: 70%;
    display: flex;
    position: relative;
    left: 20%;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.curso1-educação{
    color: white;
    font-size: 17px;
}

.curso2-educação{
    color: white;
    font-size: 17px;
}

.curso3-educação{
    color: white;
    font-size: 17px;
}

.tecnico-educação{
    border: 2px solid red;
    height: 30%;
    width: 100%;
}

.info-box-educacao{
   background-color: #e9e9e9;
      border-radius: 10px;
   height: 60%;
  width: 70%;

      border-left: 10px solid var(--cor-2-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
}


.info-arruma{
     height: 90%;
    width:  100%;
 border: 1px solid black;

}

.scrollable-container {
  height: 100%; /* ou qualquer altura fixa ou max-height */
  overflow-y: auto; /* scroll vertical quando necessário */
  border: 1px solid var(--cor-1-escuro); /* opcional, para visualização */
  padding: 50px;
}



.scrollable-container {
  height: 100%;
  overflow-y: auto;
}

/* Estilizando a scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 10px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: var(--cor-1-claro);
}

.scrollable-container::-webkit-scrollbar-thumb {
  background:var(--cor-2-claro);
  border-radius: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: var(--cor-2-claro);
}
.tituloFundamental-educação{
color: var(--cor-2-claro);
font-size: 25px;
}

.pInformativo-educação{
    color: black;
}

.info-box-educacao h3 {
      color: var(--cor-2-claro);
     
    }

     .info-box-educacao li {
      margin-bottom: 8px;
    }

    .info-box-educacao h3 {
      color: var(--cor-2-claro);
     
    }
    
   .info-box-educacao ul {
      padding-left: 20px;
    }
    
   .info-box-educacao li {
      margin-bottom: 8px;
    }