*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, body, html{
  min-height: 100vh;
}

:root{
--cor-branco:#EAEAEA;
--cor-fundo:#2D405A;
--cor-1-claro:#6a6c6e;
--cor-2-claro:#607E98;
--cor-1-escuro:#3A4F6D;
--cor-2-escuro:#30373f;
}

/* Estilizando a barra de rolagem inteira */
::-webkit-scrollbar {
  width: 5px; /* Largura mais fina */
}
::-webkit-scrollbar-thumb {
  background: var(--cor-2-claro);
  border-radius: 10px; /* Aumentando o raio da borda */
 width: 2%;/* Adicionando preenchimento */
  height: 20%;
  
}
/* Estilizando a trilha da barra de rolagem */
::-webkit-scrollbar-track {
  background: var(--cor-1-claro); /* Cinza claro para a trilha */
}

/* Estilizando o polegar da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--cor-fundo); /* Cinza mais escuro ao passar o mouse */
}